html, body{
	background: #b8b9bb;
	margin: 0;
	height:100%;
/*	position:relative;*/
}

ul{
	list-style: none;
}

#main-container{
	/*min-height:100%; 
	_height:100%;*/
	background: #0066CB;
}

.middle-container{
	/*position: absolute;
	width: 100%;*/
}

.width{
	width: 1100px;
	margin: 0 auto;
}

/*-- header block start --*/

div.header{
	height: 140px;
}

.header .logo{
	float: left;
	height: 86px;
	width: 254px;
	background: url(images/logo.png) no-repeat;
	margin: 32px 70px 0;
}

.language{
	display: none;
}

.header .language-switcher{
	float: right;
	margin-right: 150px;
}

.header .language-switcher a.lang{
	color: white;
	padding: 7px;
	text-decoration: none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
}

.header .language-switcher a.lang.active{
	background: #333;
}

/*-- header block end --*/

/*-- content block start --*/

.cont1{
	height: 450px;
}

.greybg{
	background: url(images/grey-bg.png);
	overflow: hidden;
	position: relative;
}

.page-history .greybg{
	padding: 0 78px;
}

.main-slider{
	float: left;
	/*margin: 0 -100px;*/
}

.menu{
	/*padding-bottom:80px;*/
	margin: 25px auto 45px;
	width: 940px;
}

.menu ul{
	padding: 0;
}

.menu ul li{
	float: left;
	min-width: 182px;
	padding: 4px 0 2px 5px;
	height: 22px;
}

.menu ul li.menu-history{
	background: url(images/m1-arr.png) right top no-repeat #A54EAC;
}

.menu ul li.menu-about{
	background: url(images/m2-arr.png) right top no-repeat #FFB400;
}

.menu ul li.menu-contact{
	background: url(images/m3-arr.png) right top no-repeat #CD0067;
}

.menu ul li.menu-projects{
	background: url(images/m4-arr.png) right top no-repeat #333333;
}

.menu ul li.menu-news{
	background: url(images/m5-arr.png) right top no-repeat #CDCC00;
}

.menu ul li a{
	width: 100%;
	float: left;
	color: white;
	text-decoration: none;
	font-family: Tahoma;
}

.menu ul li a:hover, .menu ul li a.active{
	color: #777777;
}

.greybg .entry-header, .greybg .entry-title, .entry-meta{
	display:none;
}

.page-details .greybg .entry-header, .page-details .greybg .entry-title{
	display: block;
}

/*-- content block end --*/

/*-- footer block start --*/

div.footer{
	height: 57px;
	/*margin-top:-80px;
	position:relative;*/
}

.footer .femto{
	width: 147px;
	height: 50px;
	background: url(images/femto-logo.png) no-repeat;
	float: right;
	margin:14px 20px;
}

.footer .copyright{
	float: right;
	border-left: #4d94db solid 1px;
	width: 178px;
	font-family: Tahoma;
	font-size: 12px;
	color: white;
	padding: 14px 20px;
}

/*-- footer block end --*/





#main-container {
	position:relative;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
 
#main-container:before,
#main-container:after {
	content:"";
	position:absolute;
	z-index:-2;
}
 
#main-container:before {
	top:10px;
	bottom:10px;
	left:0;
	right:0;
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
	   -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
	        box-shadow:0 0 15px rgba(0,0,0,0.6);
	-moz-border-radius:10px / 100px;
	     border-radius:10px / 100px;
}
 
/*#main-container p {
	font-size:16px;
	font-weight:bold;
}*/


/*--  news block start  --*/

.page-history .timeline{
	height: 450px;
	position: relative;
	background: url(images/news-timeline.png) left center repeat-x;
}

.page-history .block1{
	width: 220px;
	position: absolute;
	color:white;
	font-size: 12px;
	padding-right: 100px; 
}

.page-history .block1 .news-head{
	text-decoration: underline;
	color: #a64eab;
	font-size: 16px;
}

.page-history .block1 .date{
	color: #777777;
	margin-top: 3px; 
}

.page-history .block1 p{
	margin: 3px 0;
}

.page-history .item1{
	top: 260px;
	left: 0;
}

.page-history .item2{
	top: 100px;
	left: 160px;
}

.page-history .item3{
	top: 260px;
	left: 320px;
}

.page-history .item4{
	top: 60px;
	left: 480px;
}

.page-history .item5{
	top: 260px;
	left: 640px;
}

.page-history .item6{
	top: 100px;
	left: 800px;
}

/*--  news block end  --*/

/*-- projects --*/

.page-projects .arrows{
	width: 21px;
	height: 48px;
	position: absolute;
	cursor: pointer;
	top: 200px;
}

.page-projects .arrows.btn-prev{
	left: 34px;
	background: url(images/arrows.png) left top;
}

.page-projects .arrows.btn-next{
	right: 34px;
	background: url(images/arrows.png) right top;
}

.page-projects .slider{
	overflow:hidden; 
	width: 960px; 
	margin: 20px auto; 
	position:relative;
}

.page-projects .slider ul{
	position: relative;
	display: none;
	margin: 0;
	padding: 0;
}

.page-projects .slider ul li{
	float: left;
	margin: 0 10px;
	width: 220px;
}

.page-projects .slider ul li a{
	background:#0066cc;
	color: white;
	float: left;
	margin: 10px 0;
	height: 180px;
	width: 100%;
}

.page-projects .slider ul li a .text{
	position:absolute;
	width: 200px;
	height: 160px;
	padding:10px;
	font-size: 13px;
}

.page-projects .slider ul li a .text .title{
	font-size: 20px;
}

.page-projects .slider ul li a .text .desc{
	position: absolute;
	top: 68px;
	padding-right: 10px;
}

.page-projects .slider ul li a .text span{
	background: url(images/read-more.png) no-repeat top right;	
	position:absolute;
	padding: 5px 0;
	width: 88px;
	height: 28px;
	bottom: 0px;
	right: 10px;
}

.page-projects .slider ul li a img{
	position: relative;
	z-index: 1;
}

/*-- project details --*/

.cont2{
	margin: 30px auto;
	width:940px;
}

.cont2 .proj-info{
	background:#0066cc;
	width:860px;
	height:390px;
	float: left;
	overflow: hidden;
	position: relative;
}

.cont2 .gallery2{
	float: right;
	width: 75px;
	height: 390px;
	overflow: hidden;
	position: relative;
}

.cont2 .gallery2 a{
	width: 55px;
	height: 45px;
	float: left;
	border: solid 2px white;
	cursor: pointer;
	margin: 4px 10px 3px;
	opacity: 0.5;
}

.cont2 .gallery2 a:hover, .cont2 .gallery2 a.active{
	opacity: 1;
}

.cont2 .gallery2 img{
	float: left;
}

.cont2 .proj-info .proj-img{
	float: left;
	width:640px;
	height:390px;	
}

.cont2 .proj-info .proj-desc{
	float: right;
	width: 200px;
	color: white;
	padding: 0 10px;
	font-size: 14px;
}

.cont2 .proj-info .proj-desc .entry-title{
	font-size: 21px;
}

.page-details .arrows{
	width: 29px;
	height: 12px;
	position: absolute;
	cursor: pointer;
	right: 102px;
}

.page-details .gallery2 ul{
	position: relative;
	margin: 0;
	padding: 0;
}

.page-details .arrows.btn-prev{
	top: 14px;
	background: url(images/arrows-small.png) left top;
}

.page-details .arrows.btn-next{
	bottom: 14px;
	background: url(images/arrows-small.png) left bottom;
}

.page-details .blue-arrow{
	right: 220px;
	top: 20px;
	height: 40px;
	width: 10px;
	position: absolute;
	background: url(images/blue-arrow.png);	
}