html, body{
	background: #b8b9bb;
	margin: 0;
	height:100%;
/*	position:relative;*/
}

#main-container{
	/*min-height:100%; 
	_height:100%;*/
	background: #0066CB;
}

.middle-container{
	/*position: absolute;
	width: 100%;*/
}

.width{
	width: 1100px;
	margin: 0 auto;
}

/*-- header block start --*/

div.header{
	height: 140px;
}

.header .logo{
	float: left;
	height: 86px;
	width: 254px;
	background: url(images/logo.png) no-repeat;
	margin: 32px 70px 0;
}

.header .language-switcher{
	float: right;
	margin-right: 150px;
}

.header .language-switcher a.lang{
	color: white;
	padding: 7px;
	text-decoration: none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
}

.header .language-switcher a.lang.active{
	background: #333;
}

/*-- header block end --*/

/*-- content block start --*/

.cont1{
	height: 450px;
}

.greybg{
	background: url(images/grey-bg.png);
	overflow: hidden;
}

.main-slider{
	float: left;
	/*margin: 0 -100px;*/
}

.menu{
	/*padding-bottom:80px;*/
	margin: 25px auto 40px;
	width: 1000px;
}

.menu ul{
	list-style: none;
	padding: 0;
}

.menu ul li{
	float: left;
	min-width: 195px;
	padding: 4px 0 2px 5px;
	height: 22px;
}

.menu ul li:nth-child(1){
	background: url(images/m1-arr.png) right top no-repeat #A54EAC;
}

.menu ul li:nth-child(2){
	background: url(images/m2-arr.png) right top no-repeat #FFB400;
}

.menu ul li:nth-child(3){
	background: url(images/m3-arr.png) right top no-repeat #CD0067;
}

.menu ul li:nth-child(4){
	background: url(images/m4-arr.png) right top no-repeat #333333;
}

.menu ul li:nth-child(5){
	background: url(images/m5-arr.png) right top no-repeat #CDCC00;
}

.menu ul li a{
	width: 100%;
	float: left;
	color: white;
	text-decoration: none;
	font-family: Tahoma;
}

.menu ul li a:hover, .menu ul li a.active{
	color: #777777;
}


/*-- content block end --*/

/*-- footer block start --*/

div.footer{
	height: 57px;
	/*margin-top:-80px;
	position:relative;*/
}

.footer .femto{
	width: 147px;
	height: 50px;
	background: url(images/femto-logo.png) no-repeat;
	float: right;
	margin:14px 20px;
}

.footer .copyright{
	float: right;
	border-left: #4d94db solid 1px;
	width: 178px;
	font-family: Tahoma;
	font-size: 12px;
	color: white;
	padding: 14px 20px;
}

/*-- footer block end --*/





#main-container {
	position:relative;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
 
#main-container:before,
#main-container:after {
	content:"";
	position:absolute;
	z-index:-2;
}
 
#main-container:before {
	top:10px;
	bottom:10px;
	left:0;
	right:0;
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
	   -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
	        box-shadow:0 0 15px rgba(0,0,0,0.6);
	-moz-border-radius:10px / 100px;
	     border-radius:10px / 100px;
}
 
#main-container p {
	font-size:16px;
	font-weight:bold;
}        